.page {
    background: var(--white);
    padding: 1rem;
    border-radius: .25rem;
    /* box-shadow: 0 4px 60px -15px rgba(0, 0, 0, 0.25); */
    border: 1px solid var(--light-grey);
}

.page h2 {
    font-size: 1.2rem;
    opacity: 0.9;
    margin-bottom: .75rem;
}

.page h2:not(:first-of-type) {
    margin-top: 2rem;
}

.page p.--centered {
    text-align: center;
}

.page a {
    color: var(--primary);
    text-decoration: none;
}

.page a:hover {
    text-decoration: underline;
}
