:root {
    --page-width: 80%;
    --header-height: 5rem;
    --off-white: #f1f5f8;
    --white: #ffffff;
    --primary: #2779bd;
    --black: #22292f;
    --dark-grey: #606f7b;
    --light-grey: #dae1e7;
    --red: #E3342F;
    --orange: #F6993F;
    --logo-max-width: 11rem;
    --fab-size: 4rem;
    --fab-offset: 1rem;
    --fab-font-size: 2rem;
    --fab-child-size: 2.5rem;
    --fab-child-offset: .75rem;
    --fab-child-font-size: 1rem;
    --modal-width: 32rem;
}

@media (max-width: 1400px) {
    :root {
        --header-width: 12rem;
        --page-width: 90%;
    }
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

html, body, #app {
    height: 100%;
    width: 100%;
    font-size: 16px;
    background: var(--off-white);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--black);
}

.container {
    width: 100%;
    padding-top: var(--header-height);
}

.container .inner-container {
    width: var(--page-width);
    padding: 2rem 0;
    margin: 0 auto;
}
