.select-wrapper, .input-wrapper {
    border-radius: .125rem;
    border: 1px solid var(--light-grey);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-bottom: .5rem;
}

.select-wrapper.--inline, .input-wrapper.--inline {
    margin-bottom: 0;
    margin-right: .5rem;
}

.select-wrapper:after {
    content: '';
    width: 1rem;
    height: 1rem;
    background: url('/img/dropdown.svg');
    position: absolute;
    top: 50%;
    right: .25rem;
    transform: translateY(-50%);
    pointer-events: none;
}

.select-wrapper label, .input-wrapper label {
    display: block;
    font-size: .875rem;
    opacity: 0.8;
    padding: .5rem;
    border-right: 1px solid var(--light-grey);
}

.select-wrapper:not(.--inline) label, .input-wrapper:not(.--inline) label {
    width: 6rem;
}

.input-wrapper input {
    display: block;
    flex: 2;
    border: none;
    font-size: .875rem;
    padding: 0 .5rem;
}

.input-wrapper input:focus {
    outline: 0;
}

.select-wrapper select, .select-wrapper .select {
    display: block;
    flex: 2;
    border: none;
    background: none;
    font-size: .875rem;
    appearance: none;
    -webkit-appearance: none;
    padding-right: 1.5rem;
    padding-left: .5rem;
    cursor: default;
    color: var(--black);
}

.select-wrapper .select {
    padding: .5rem;
    padding-right: 1.5rem;
    position: relative;
}

.select-wrapper .select .select-popup {
    position: absolute;
    top: 100%;
    right: -1px;
    left: -1px;
    background: var(--white);
    border: 1px solid var(--light-grey);
    border-radius: .125rem;
    z-index: 20;
    box-shadow: 0 4px 12px -6px rgba(0, 0, 0, 0.2);
}

.select-wrapper .select .select-popup.--hidden {
    display: none;
}

.select-wrapper .select .select-popup .filter {
    padding: .25rem .5rem;
    background: var(--light-grey);
    color: var(--black);
    font-size: 0.875rem;
    border: none;
    width: 100%;
}

.select-wrapper .select .select-popup .filter:focus {
    outline: 0;
}

.select-wrapper .select .select-popup .options {
    display: flex;
    flex-direction: column;
    max-height: 12rem;
    overflow-y: scroll;
}

.select-wrapper .select .select-popup .options a {
    display: block;
    padding: .25rem .5rem;
    color: var(--black);
    text-decoration: none;
    cursor: default;
    font-size: 0.875rem;
}

.select-wrapper .select .select-popup .options a:hover {
    background: rgba(0, 0, 0, 0.15);
}

.select-wrapper select:focus {
    outline: 0;
}

.select-wrapper.--inline select, .select-wrapper.--inline .select {
    text-align-last: right;
}

.select-wrapper.--inline select option {
    direction: rtl;
};

input[type="submit"] {
    display: block;
    width: 100%;
    padding: .5rem;
    border: none;
    background: var(--primary);
    border-radius: .25rem;
    cursor: pointer;
}
