.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container .modal {
    width: var(--modal-width);
    max-width: 95%;
    min-height: 2rem;
    background: var(--white);
    border-radius: .5rem;
    padding: 1.5rem;
}
