.menu {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: var(--header-height);
    background: var(--white);
    border: 1px solid var(--light-grey);
    z-index: 10;
}

.menu .menu-inner {
    width: var(--page-width);
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .logo {
    height: 75%;
    margin-bottom: 0;
}

.menu nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.menu nav a {
    display: block;
    font-weight: 500;
    text-decoration: none;
    color: var(--primary);
}

.menu nav a:not(:last-of-type) {
    margin-right: 1.25rem;
}
