.stepper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stepper input {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
    display: inline-block;
    width: 3rem !important;
    text-align: center;
}

.stepper input::-webkit-outer-spin-button, .stepper input::-webkit-inner-spin-button {
    appearance: none;
}

.stepper input[disabled] {
    opacity: 0.5;
}

.stepper button {
    border: none;
    background: none;
    cursor: pointer;
    color: var(--primary);
    display: block;
}

.stepper button:focus {
    outline: 0;
}

.stepper button[disabled] {
    color: var(--dark-grey);
}

.stepper button svg {
    display: block;
}