.frame-stock {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    max-height: 80vh;
}

.frame-stock .group {
    width: 25%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.frame-stock .group .label {
    display: block;
    width: 10%;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1.4ex;
    font-weight: bold;
    color: var(--light-grey);
    text-align: center;
}

.frame-stock .group .items {
    padding-left: 1rem;
}

.frame-stock .group .items a {
    display: block;
    margin-bottom: .5rem;
}
