.pagination {
    width: 100%;
    text-align: center;
    padding: .25rem 0;
}

.pagination ul {
    list-style-type: none;
    display: flex;
    flex-directon: row;
    justify-content: center;
    align-items: center;
}

.pagination ul li {
    margin: 0 .25rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    display: block;
}

.pagination ul li a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-decoration: none;
    color: var(--primary);
    transition: all .2s;
}

.pagination ul li a.--current {
    background: var(--primary);
    color: var(--white);
}

.pagination ul li a:hover {
    background: rgba(0, 0, 0, 0.1);
    color: var(--primary);
}
