.table {
    width: 100%;
    margin: 0 -.25rem;
}

.table .row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.table .row:nth-child(even) {
    background: rgba(226, 226, 226, 0.15);
}

.table .row .cell {
    padding: .5rem .25rem;
}

.table .row .cell.--thin { flex: 2; }
.table .row .cell.--normal { flex: 4; }
.table .row .cell.--wide { flex: 8; }

.table .row .cell.--header {
    text-align: left;
    font-weight: bold;
    font-size: .875rem;
    color: var(--dark-grey);
}

.table .row .cell a {
    color: var(--primary);
    text-decoration: none;
}
