.table {
    margin: 0 -1rem;
    margin-bottom: .75rem;
}

.table .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
}

.table .row.--header {
    border-top: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
}

.table .row:not(.--header):nth-child(odd) {
    background: rgba(220, 220, 220, 0.1);
}

.table .row .cell {
    padding: .5rem .125rem;
    font-size: .875rem;
}

.table .row .cell.--thin { flex: 3; }
.table .row .cell.--normal { flex: 4; }
.table .row .cell.--wide { flex: 8; }

.table .row .cell.--header {
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .75rem;
    color: var(--dark-grey);
}

.table .row .cell a {
    color: var(--primary);
    text-decoration: none;
}

.filters {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
